.ser-text-tiny {
  font-size: var(--font-size-tiny);
}

.ser-text-small {
  font-size: var(--font-size-small);
}
.ser-text-medium {
  font-size: var(--font-size-medium);
}
.ser-text-large {
  font-size: var(--font-size-large);
}

.ser-text-xlarge {
  font-size: var(--font-size-xlarge);
}

.ser-color-grey-1 {
  color: var(--color-grey-1);
}
.ser-color-grey-2 {
  color: var(--color-grey-2);
}
.ser-color-grey-3 {
  color: var(--color-grey-3);
}
.ser-color-grey-4 {
  color: var(--color-grey-4);
}
.ser-color-grey-5 {
  color: var(--color-grey-5);
}

.ser-bg-grey-1 {
  background-color: var(--bg-color-grey-1);
}
.ser-bg-grey-2 {
  background-color: var(--bg-color-grey-2);
}

.ser-bg-grey-3 {
  background-color: var(--bg-color-grey-3);
}

.ser-bg-grey-4 {
  background-color: var(--bg-color-grey-4);
}

.ser-bg-grey-5 {
  background-color: var(--bg-color-grey-5);
}

hr {
  background-color: var(--bg-color-grey-2);
  color: var(--color-grey-2);
}

.ser-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.ser-shadow-2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ser-shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.ser-shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.ser-shadow-5 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* paddings */

.ser-p-1 {
  padding: var(--spacing-1);
}
.ser-p-2 {
  padding: var(--spacing-2);
}
.ser-p-3 {
  padding: var(--spacing-3);
}
.ser-p-4 {
  padding: var(--spacing-4);
}
.ser-p-5 {
  padding: var(--spacing-5);
}
.ser-p-6 {
  padding: var(--spacing-6);
}
.ser-p-7 {
  padding: var(--spacing-7);
}
.ser-p-8 {
  padding: var(--spacing-8);
}
.ser-p-9 {
  padding: var(--spacing-9);
}
.ser-p-10 {
  padding: var(--spacing-10);
}

.ser-p-11 {
  padding: var(--spacing-11);
}

.ser-p-12 {
  padding: var(--spacing-12);
}

/* Margins */

.ser-m-1 {
  margin: var(--spacing-1);
}
.ser-m-2 {
  margin: var(--spacing-2);
}
.ser-m-3 {
  margin: var(--spacing-3);
}
.ser-m-4 {
  margin: var(--spacing-4);
}
.ser-m-5 {
  margin: var(--spacing-5);
}
.ser-m-6 {
  margin: var(--spacing-6);
}
.ser-m-7 {
  margin: var(--spacing-7);
}
.ser-m-8 {
  margin: var(--spacing-8);
}
.ser-m-9 {
  margin: var(--spacing-9);
}
.ser-m-10 {
  margin: var(--spacing-10);
}

.ser-m-11 {
  margin: var(--spacing-11);
}
.ser-m-12 {
  margin: var(--spacing-12);
}

/* border-radius */

.ser-round,
.ser-round-1 {
  border-radius: var(--round-radius);
}

.ser-rounder,
.ser-round-2 {
  border-radius: var(--rounder-radius);
}

.ser-roundest,
.ser-round-3 {
  border-radius: var(--roundest-radius);
}

.ser-text-color-primary {
  color: var(--primary-color);
}

.ser-text-color-secondary {
  color: var(--secondary-color);
}

.ser-text-color-danger {
  color: var(--danger-color);
}

.ser-text-color-warning {
  color: var(--warning-color);
}

.ser-text-color-success {
  color: var(--success-color);
}
