h1,.ser-h1 {
font-size: var(--fs-1);
}

h2,.ser-h2 {
font-size: var(--fs-2);
}

h3,.ser-h3 {
font-size: var(--fs-3);
}

h4,.ser-h4 {
font-size: var(--fs-4);
}

h5,.ser-h5 {
    font-size: var(--fs-5);
}

h6,.ser-h6 {
    font-size: var(--fs-6);
}


.ser-h1-p3 {
    font-size: var(--fs-1-p3);
}

.ser-h1-p2 {
    font-size: var(--fs-1-p2);
}

.ser-h1-p1 {    
    font-size: var(--fs-1-p1);
}


.ser-paragraph {
    font-size: var(--fs-6-m1);
    line-height: 1.5;
    font-weight: 400;
}
