:root {
  --primary-color: blue;
  --secondary-color: rgba(184, 11, 117, 0.959);
  --text-primary: white;
  --btn-font-size: 1rem;
  --btn-small-font-size: 1rem;
  --btn-medium-font-size: 1.2rem;
  --btn-large-font-size: 1.4rem;
  --btn-primary-font-color: white;
  --btn-secondary-font-color: white;
  --small-input-font-size: 1rem;
  --medium-input-font-size: 1.2rem;
  --large-input-font-size: 1.6rem;
  --danger-color: red;
  --warning-color: orange;
  --success-color: green;
  --paragraph-font-size: 1rem;
  --h1-font-size: 2rem;
  --primary-hover-background: aliceblue; /*background color to use when hovering over a primary class element */
  --secondary-hover-background: #ffc0cb33; /* background color to use when hovering over a secondary class element */
  --small-button-padding: 0.5rem;
  --medium-button-padding: 0.8rem;
  --large-button-padding: 1rem;

  --round-radius: 0.5rem;
  --rounder-radius: 1rem;
  --roundest-radius: 1.2rem;
}

body {
  font-family: "Inter", sans-serif;
}

/* common button styles */
.ser-btn-primary-small,
.ser-btn-primary-medium,
.ser-btn-primary-large,
.ser-btn-secondary-small,
.ser-btn-secondary-medium,
.ser-btn-secondary-large,
.ser-btn-danger-small,
.ser-btn-danger-medium,
.ser-btn-danger-large,
.ser-btn-warning-small,
.ser-btn-warning-medium,
.ser-btn-warning-large,
.ser-btn-success-small,
.ser-btn-success-medium,
.ser-btn-success-large,
.ser-btn-disabled-small,
.ser-btn-disabled-medium,
.ser-btn-disabled-large,
.ser-btn-error-small-outlined,
.ser-btn-error-medium-outlined,
.ser-btn-error-large-outlined,
.ser-btn-warning-small-outlined,
.ser-btn-warning-medium-outlined,
.ser-btn-warning-large-outlined,
.ser-btn-scuccess-small-outlined,
.ser-btn-scuccess-medium-outlined,
.ser-btn-scuccess-large-outlined {
  border: none;
  outline: none;
  cursor: pointer;
}

/* common button small size styles */

.ser-btn-primary-small,
.ser-btn-secondary-small,
.ser-btn-primary-small-outlined,
.ser-btn-secondary-small-outlined,
.ser-btn-danger-small,
.ser-btn-warning-small,
.ser-btn-success-small,
.ser-btn-disabled-small,
.ser-btn-error-small-outlined,
.ser-btn-warning-small-outlined,
.ser-btn-success-small-outlined {
  font-size: var(--btn-small-font-size);
  padding: var(--small-button-padding);
}

.ser-btn-primary-medium,
.ser-btn-secondary-medium,
.ser-btn-primary-medium-outlined,
.ser-btn-secondary-medium-outlined,
.ser-btn-danger-medium,
.ser-btn-warning-medium,
.ser-btn-success-medium,
.ser-btn-disabled-medium,
.ser-btn-error-medium-outlined,
.ser-btn-warning-medium-outlined,
.ser-btn-success-medium-outlined {
  font-size: var(--btn-medium-font-size);
  padding: var(--medium-button-padding);
}

/* common button large size styles */

.ser-btn-primary-large,
.ser-btn-secondary-large,
.ser-btn-primary-large-outlined,
.ser-btn-secondary-large-outlined,
.ser-btn-danger-large,
.ser-btn-warning-large,
.ser-btn-success-large,
.ser-btn-disabled-large,
.ser-btn-error-large-outlined,
.ser-btn-warning-large-outlined,
.ser-btn-success-large-outlined {
  font-size: var(--btn-large-font-size);
  padding: var(--large-button-padding);
}

/* primary common button color styles */

.ser-btn-primary-small,
.ser-btn-primary-medium,
.ser-btn-primary-large {
  color: var(--btn-primary-font-color);
  background-color: var(--primary-color);
}

/* secondary common button color styles */

.ser-btn-secondary-small,
.ser-btn-secondary-medium,
.ser-btn-secondary-large {
  color: var(--btn-secondary-font-color);
  background-color: var(--secondary-color);
}

.ser-btn-primary-small-outlined,
.ser-btn-primary-medium-outlined,
.ser-btn-primary-large-outlined {
  border: solid 1px var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}

.ser-btn-secondary-small-outlined,
.ser-btn-secondary-medium-outlined,
.ser-btn-secondary-large-outlined {
  border: solid 1px var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
}

.ser-btn-danger-small,
.ser-btn-danger-medium,
.ser-btn-danger-large {
  background-color: var(--danger-color);
  color: white;
}

.ser-btn-warning-small,
.ser-btn-warning-medium,
.ser-btn-warning-large {
  background-color: var(--warning-color);
  color: black;
}

.ser-btn-success-small,
.ser-btn-success-medium,
.ser-btn-success-large {
  background-color: var(--success-color);
  color: white;
}

.ser-btn-disabled-small,
.ser-btn-disabled-medium,
.ser-btn-disabled-large {
  cursor: not-allowed;
  pointer-events: none;
}

.ser-btn-error-small-outlined,
.ser-btn-error-medium-outlined,
.ser-btn-error-large-outlined {
  border: solid 1px var(--danger-color);
  background-color: white;
  color: var(--danger-color);
}

.ser-btn-warning-small-outlined,
.ser-btn-warning-medium-outlined,
.ser-btn-warning-large-outlined {
  border: solid 1px var(--warning-color);
  background-color: white;
  color: var(--warning-color);
}

.ser-btn-success-small-outlined,
.ser-btn-success-medium-outlined,
.ser-btn-success-large-outlined {
  border: solid 1px var(--success-color);
  background-color: white;
  color: var(--success-color);
}

/* Input common styles */

.ser-input-primary-small-filled,
.ser-input-primary-medium-filled,
.ser-input-primary-large-filled,
.ser-input-primary-small-outlined,
.ser-input-primary-medium-outlined,
.ser-input-primary-large-outlined,
.ser-input-secondary-small-filled,
.ser-input-secondary-medium-filled,
.ser-input-secondary-large-filled,
.ser-input-secondary-small-outlined,
.ser-input-secondary-medium-outlined,
.ser-input-secondary-large-outlined {
  outline: none;
  border: none;
}

/* Input element small size styles */

.ser-input-primary-small-filled,
.ser-input-primary-small-outlined,
.ser-input-secondary-small-filled,
.ser-input-secondary-small-outlined {
  padding: var(--small-button-padding);
}

.ser-input-primary-medium-filled,
.ser-input-primary-medium-outlined,
.ser-input-secondary-medium-filled,
.ser-input-secondary-medium-outlined {
  padding: var(--medium-button-padding);
}

.ser-input-primary-large-filled,
.ser-input-primary-large-outlined,
.ser-input-secondary-large-filled,
.ser-input-secondary-large-outlined {
  padding: var(--large-button-padding);
}

/* Input variant (primary,secondary) styles */

.ser-input-primary-small-filled,
.ser-input-primary-medium-filled,
.ser-input-primary-large-filled {
  border-bottom: solid 1px var(--primary-color);
  background-color: aliceblue;
}

.ser-input-primary-small-outlined,
.ser-input-primary-medium-outlined,
.ser-input-primary-large-outlined {
  border: solid 1px var(--primary-color);
  background-color: white;
}

.ser-input-secondary-small-filled,
.ser-input-secondary-medium-filled,
.ser-input-secondary-large-filled {
  border-bottom: solid 1px var(--secondary-color);
  background-color: aliceblue;
}

.ser-input-secondary-small-outlined,
.ser-input-secondary-medium-outlined,
.ser-input-secondary-large-outlined {
  border: solid 1px var(--secondary-color);
  background-color: white;
}

.ser-round {
  border-radius: var(--round-radius);
}

.ser-rounder {
  border-radius: var(--rounder-radius);
}

.ser-roundest {
  border-radius: var(--roundest-radius);
}

.ser-tag-primary-filled {
  background-color: var(--primary-color);
  color: var(--btn-primary-font-color);
  border: none;
}

.ser-tag-primary-outlined {
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}


.ser-tag-secondary-filled {
  background-color: var(--secondary-color);
  color: var(--btn-secondary-font-color);
  border: none;
}

.ser-tag-secondary-outlined {
  border: solid 1px var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
}
